<div id="header_innerR">
    <div id="header_inner">
        <div id="discript">
            <h1>
                <%= link_to @site.name, '/', :tabindex => 1 %>
            </h1>
            <p>
            <%= @site.comment %>
            </p>
        </div>
        <%= form_tag({:controller => 'keyword', :action => 'search'}, {:method => 'get'}  ) do %>
            <dl>
                <dt>
                    <%= label_tag 'keyword', 'フリーワード検索' %>
                </dt>
                <dd>
                <%= text_field_tag 'keyword',(@query unless @tag), :name => 'query', :tabindex => 2 %>
                </dd>
            </dl>
            <p>
                <input type="submit" value="検索" tabindex="3" />
            </p>
        <% end %>
    </div>
</div>
