<!-- navArea START -->
<div id="navArea">
    <!-- navList START -->
    <div class="navList">
        <h3>カテゴリー</h3>
        <ul>
        <% @categories.each do |cat| %>
            <li>
                <% if cat.pages.length > 0 %>
                <%= link_to(cat.name, cat) if cat.pages.length > 0 %>
                <% else %>
                <span>
                <%= cat.name if cat.pages.length == 0 -%>
                </span>
                <% end %>
            </li>
        <% end %>
            <li>
            <% if @uncategorized.length > 0 %>
            <%= link_to t( 'category.uncategorized'), :controller => :categories, :action => :show, :id => 0  %>
            <% else %>
                <span><%= t 'category.uncategorized' %></span>
            <% end %>
            </li>
        </ul>
    </div>
    <!-- navList END -->

    <!-- navList START -->
    <div class="navList">
        <h3>タグクラウド</h3>
        <% if @tags.count > 0 %>
        <ul id="tagCloud">
            <% @tags.each do |t| %>
            <li class="level<%= t.level %>">
                <%= link_to t.tag.name, t.tag %>
            </li>
            <% end %>
        </ul>
        <% else %>
        <p>タグは登録されていません。</p>
        <% end %>
    </div>
    <!-- navList END -->
</div>
<!-- navArea END -->

