<%
spanId = "category_name_#{category.id}"
editFormId = "category_form_#{category.id}"
%>
<td>
    <span id="<%= spanId %>"><%= category.name %></span>

    <div class="rowEdit" id="<%= editFormId %>">
        <%= form_for category, :url => {:action => :update, :id => category.id} do |f| %>
        <p>
        <%= f.text_field :name, :class => 'defaultInput', :size => nil %>
        <%= f.submit '保存', :class => 'sub', :disable_with => '保存中...' %>
        <%= f.submit 'キャンセル',
            :onclick => "toggleDisplay('#{editFormId}', '#{spanId}')", :type => :button, :name => :cancel %>
        </p>
        <% end %>
    </div>
</td>

<td class="editButton">
    <a href="javascript:void(0)" onclick="toggleDisplay('<%= spanId %>', '<%= editFormId %>')">
        <%= image_tag('admin/share/btn_edit.png', :alt => '編集', :size => '27x27') %>
    </a>
</td>

<td>
    <%= link_to image_tag('admin/share/btn_delete.png', :alt => '編集', :size => '27x27'),
        {:controller => :categories, :action => :destroy, :id => category.id},
        {:method => :delete, :confirm => "「#{category.name}」を本当に削除してよろしいですか？"} %>
</td>
