<!-- section START -->
<div class="section">

    <%= render 'admin/shared/subtitle', :image_path => 'admin/category/h_catAll.jpg', :image_size => '208x18' %>
    <%= render 'admin/shared/notice', :notice => notice if notice %>
    <%= render 'admin/shared/alert', :alert => alert if alert %>

    <%= form_for @category, :url => :admin_categories do |f| %>
        <p class="default">
        <%= f.text_field :name, :id => "cat_name", :class => "defaultInput", :title => "新規カテゴリー" %>
        <%= f.submit '追加', :disable_with => '登録中...', :class => 'sub' %>
        </p>
    <% end %>

    <table summary="カテゴリー一覧の表です。カテゴリーの追加・編集・削除ができます。" cellpadding="0" cellspacing="0">
        <colgroup>
            <col width="80%" />
            <col width="10%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col" id="tableFirst">カテゴリー名
                    <%= link_to(image_tag('admin/share/btn_sort_descending.gif', :alt => "降順に並び替え", :size => '15x15'), :action => :index, :order => :desc) %>
                    <%= link_to(image_tag('admin/share/btn_sort_ascending.gif',  :alt => "昇順に並び替え", :size => '15x15'), :action => :index, :order => :asc) %>
                </th>
                <th scope="col">編集</th>
                <th scope="col">削除</th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |cat| %>
            <tr<%= cycle "", " class='check'" %>>
                <%= render 'admin/shared/simple_row', :item => cat %>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @categories %>

</div>
<!-- section END -->

