<% if @total_count == 0 %>
    <p>カテゴリー「<%= @category_name %>」にはページがありません。</p>
<% else %>
    <p>カテゴリー「<%= @category_name %>」のページ一覧</p>
    <% @pages.each do |p| %>
    <!-- entry START -->
    <div class="entry">
        <div class="entryHead">
            <h2>
                <%= link_to p.title, p %>
            </h2>
            <p><%= l p.updated_at.localtime %></p>
        </div>
        <dl class="category">
            <dt>カテゴリー：</dt>
            <dd><%= link_to @category_name, @category %></dd>
        </dl>
        <div class="entryBody">
            <%= truncate p.contents, :length => 50 %>
            <p>
            <%= link_to '続きを読む', p %>
            </p>
        </div>
        <p class="backTop"><a href="#wrapper">ページの先頭に戻る</a></p>
    </div>
    <!-- entry END -->
    <% end %>
    <%= paginate @pages %>
<% end %>
