<!-- entry START -->
<div class="entry">
    <div class="entryHead">
        <h2><span><%= @page.title %></span></h2>
        <p><%= l @page.updated_at.localtime %></p>
    </div>
    <dl class="category">
        <dt>カテゴリー：</dt>
        <dd>
        <% if @page.category.blank? %>
            <%= link_to t('category.uncategorized'), 'default/categories/0' %>
        <% else %>
            <%= link_to(@page.category.name, @page.category) %>
        <% end %>
        </dd>
    </dl>
    <div class="entryBody">
        <%= sanitize_showpage @page.contents %>
        <dl class="entryTag">
            <dt>タグ：</dt>
            <dd>
            <% if @page.tags.length > 0 %>
                <% @page.tags.each do |t| %>
                <%= link_to t.name, t %>
                <% end %>
            <% else %>
                なし
            <% end %>
            </dd>
        </dl>
    </div>
    <p class="backTop"><a href="#wrapper">ページの先頭に戻る</a></p>
</div>
<!-- entry END -->
