<!-- topicPath START -->
<div id="topicPath">
    <p>
    <%= link_to 'トップ', :admin_root %>
    <%= image_tag 'admin/share/topicPath.gif', :alt => 'の中の', :size => '6x11' %>
    </p>
    <% @subtitle.each do |s| %>
    <p>
    <% if s == @subtitle.last %>
        <%= s[:name] %>
    <% else %>
        <%= link_to s[:name], :controller => s[:controller], :action => s[:action] %>
        <%= image_tag('admin/share/topicPath.gif', :alt => 'の中の', :size => '6x11') %>
    <% end %>
    </p>
    <% end %>
</div>
<!-- topicpath END -->
