<!DOCTYPE html>
<html>
    <head>
        <%= render :partial => "default/shared/html_header" %>
        <%= stylesheet_link_tag 'style' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag 'shared/jquery.updnWatermark.js' %>
        <%= javascript_include_tag 'shared/keyword.js' %>
        <%= csrf_meta_tag %>
        <title><%= @subtitle if @subtitle %>SetucoCMSR</title>
    </head>
    <body>
        <!-- wrapper START -->
        <div id="wrapper">
            <!-- header START -->
            <div id="header_innerL">
                <%= render :partial => 'default/shared/header' %>
            </div>
            <!-- header END -->
            <!-- content START -->
            <div id="content">
                <!-- mainContent START -->
                <div id="mainContent">
                    <%= yield %>
                </div>
                <!-- mainContent END -->
                <!-- subContent START -->
                <div id="subContent">
                    <%= render :partial => 'default/shared/navi' %>
                </div>
                <!-- subContent END -->
            </div>
            <!-- content END -->
            <%= render :partial => 'default/shared/footer' %>
        </div>
        <!-- wrapper END -->
    </body>
</html>
