    <!-- section START -->
    <div class="section">

        <%= render 'admin/shared/subtitle', :image_path => 'admin/site/h_site.jpg', :image_size => '122x18' %>
        <%= render 'admin/shared/notice', :notice => notice if notice %>
        <%= render 'admin/shared/alert', :alert => alert if alert %>
        <%= form_for @site, :url => :admin_site, :builder => SmartLabelFormBuilder do |f| %>
            <dl id="siteForm" class="editArea">
                <dt>
                    <%= f.label :name, required_input(t('site.name.label')) %>
                </dt>
                <dd>
                    <%= f.text_field :name %>
                    <span><%= t('site.name.note') %></span>
                </dd>
                <dt>
                    <%= f.label(:url) do %>
                        <%= required_input(t('site.url.label')) %><br />
                        <span class="attentionMessage"><%= t('site.url.attention') %></span>
                    <% end %>
                </dt>
                <dd>
                    <%= f.text_field :url %>
                    <span><%= t('site.url.note') %></span>
                </dd>
                <dt id="site_description_t">
                    <%= f.label :comment, t('site.comment.label') %>
                </dt>
                <dd id="site_description_d">
                    <%= f.text_area :comment, :rows => 2, :cols => '' %>
                    <span><%= t('site.comment.note') %></span>
                </dd>
                <dt>
                    <%= f.label :keyword do %>
                        <%= t('site.keyword.label') %><br />
                        <span class="attentionMessage"><%= t('site.keyword.attention') %></span>
                    <% end %>
                </dt>
                <dd>
                    <%= f.text_field :keyword %>
                    <span><%= t('site.keyword.note') %></span>
                </dd>
            </dl>
            <p class="defaultOver">
                <%= f.submit t('site.submit_word') %>
            </p>
        <% end %>
    </div>
    <!-- section END -->
